.hero {
  padding: 3rem;

  border-radius: 2.5rem;

  background:
    linear-gradient(
      135deg,
      rgba(138, 92, 246, 0.452),
      rgba(15, 185, 174, 0.137)
    ),
    url("../../../medias/imgs/background_hero_explore.png") center/cover fixed;

  display: flex;
  align-items: center;
  justify-content: space-around;

  overflow: hidden;

  position: relative;

  margin-bottom: 2.5rem;

  max-width: 100%;
}
.hero__left h1 {
  font-size: 5rem;
  line-height: 90px;

  font-weight: 800;

  margin-bottom: 1.5rem;
}

.hero__left span {
  display: block;

  background: linear-gradient(90deg, #8b5cf6, #b56cff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__left p {
  width: 100%;

  font-size: 1.1rem;
  line-height: 34px;

  color: #5d6472;
}

.hero__right {
  position: relative;

  max-width: 500px;
  width: 100%;
  height: 320px;
}

.hero__right img {
  max-width: 600px;
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;
}
