@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
.sidebar {
  width: 300px;

  padding: 2rem 1.5rem;

  border-right: 1px solid #ebe7e2;

  background: rgba(255, 255, 255, 0.5);

  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 100dvh;
  align-self: flex-start;
  transition: 0.2s;
}

.sidebar.close {
  width: 100px;
}
.sidebar.active {
  width: 300px;
}
.sidebar.active .sidebar__logo h2,
.sidebar.active .sidebar__link span {
  display: block;
}
.sidebar.close .sidebar__logo h2,
.sidebar.close .sidebar__link span {
  display: none;
}

.sidebar.active .sidebar__support a span {
  display: block;
}
.sidebar.close .sidebar__support a span {
  display: none;
}

.sidebar.active .sidebar__card {
  display: block;
}
.sidebar.close .sidebar__card {
  display: none;
}
.sidebar__logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  margin-bottom: 3rem;
  text-decoration: none;

  color: #8b5cf6;
}

.sidebar__logo img {
  width: 48px;
}

.sidebar__logo h2 {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar__link {
  height: 56px;

  padding: 0 1rem;

  border-radius: 1rem;

  display: flex;
  align-items: center;
  gap: 0.9rem;

  color: #5d6472;

  font-weight: 600;

  transition: 0.2s ease;
}

.sidebar__link i {
  font-size: 1.1rem;
}

.sidebar__link:hover {
  background: #efebff;

  color: #8b5cf6;
}

.sidebar__link.active {
  background: linear-gradient(
    135deg,
    rgba(139, 92, 246, 0.18),
    rgba(139, 92, 246, 0.08)
  );
  color: #8b5cf6;
}

.sidebar__support {
  margin-top: 2.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar__support a {
  display: flex;
  align-items: center;
  gap: 0.7rem;

  color: #6b7280;

  font-size: 0.95rem;
}

.sidebar__card {
  margin-top: 3rem;

  padding: 2rem;

  border-radius: 2rem;

  background-color: #ebe7e2;

  color: #8b5cf6;

  position: relative;

  overflow: hidden;
}

.sidebar__card h3 {
  font-size: 1.5rem;
  line-height: 34px;

  margin-bottom: 1rem;
}

.sidebar__card p {
  font-size: 0.95rem;
  line-height: 28px;

  opacity: 0.9;

  margin-bottom: 1.8rem;
}

.sidebar__card button {
  height: 52px;

  padding: 0 1.4rem;

  border-radius: 1rem;

  background: white;

  color: #071133;

  font-weight: 700;
}

.sidebar__card img {
  position: absolute;

  width: 100px;

  right: -15px;
  bottom: -15px;

  opacity: 0.2;
}

.actions__sidebar {
  display: flex;
  justify-content: right;
}
.button__close {
  font-size: 20px;
  text-align: right;
  background-color: transparent;
  color: #8b5cf6;
}

.sidebar.close .actions__sidebar {
  justify-content: center;
}
