.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2.5rem;
}

.topbar__search {
  width: 460px;
  height: 62px;

  border-radius: 1.2rem;

  background: white;

  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0 1.4rem;

  border: 1px solid #ebe7e2;
}

.topbar__search i {
  color: #9ca3af;
}

.topbar__search input {
  width: 100%;

  border: none;
  outline: none;

  background: transparent;

  font-size: 1rem;
}

.topbar__search input::placeholder {
  color: #9ca3af;
}

.topbar__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.publish__button {
  height: 58px;

  padding: 0 1.6rem;

  border-radius: 1rem;

  background: #071133;

  color: white;

  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 0.7rem;

  transition: 0.3s ease;
}

.publish__button:hover {
  background: #8b5cf6;
}

.notification {
  width: 58px;
  height: 58px;

  border-radius: 1rem;

  background: white;

  border: 1px solid #ebe7e2;

  color: #071133;

  font-size: 1.1rem;
}

.profile {
  height: 58px;

  padding: 0 0.8rem;

  border-radius: 1rem;

  background: white;

  border: 1px solid #ebe7e2;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.profile img {
  width: 42px;
  height: 42px;

  border-radius: 50%;

  object-fit: cover;
}
