.hero {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__left {
  width: 100%;
}

.hero__left h1 {
  font-size: 6rem;
  line-height: 100px;

  color: #071133;

  font-weight: 800;

  margin-bottom: 2rem;
}

.hero__left h1 span {
  display: block;

  background: linear-gradient(90deg, #8b5cf6, #b56cff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__left p {
  width: 75%;

  font-size: 1.3rem;
  line-height: 40px;

  color: #5b6475;

  margin-bottom: 2.5rem;
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.hero__primary {
  position: relative;
  overflow: hidden;

  background: #071133;
  color: white;
  padding: 1.3rem 2rem;
  border-radius: 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 20px 40px rgba(7, 17, 51, 0.2);
  text-decoration: none;
  z-index: 1;
}
.hero__primary::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #8b5cf6, #b56cff);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.hero__primary:hover::before {
  opacity: 1;
}
.hero__secondary {
  background-color: rgba(255, 255, 255, 0.6);

  backdrop-filter: blur(10px);
  color: #111827;
  padding: 1.3rem 2rem;

  border-radius: 1.2rem;

  font-size: 1rem;
  font-weight: 600;

  border: 1px solid rgba(255, 255, 255, 0.6);

  transition: 0.3s;
}
.hero__secondary:hover {
  background-color: #0711338f;
  color: white;
}
.hero__right {
  width: 55%;
  height: 700px;

  position: relative;
}
.hero__bottom {
  margin-top: 5rem;
  display: none;
}

.hero__card__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1.2rem;

  flex-wrap: wrap;
}

.hero__card {
  flex: 1;
  min-width: 280px;
  max-width: 340px;

  background: white;

  border-radius: 1.6rem;

  padding: 1.4rem;

  display: flex;
  align-items: flex-start;
  gap: 1rem;

  border: 1px solid #ececec;

  transition:
    transform 0.25s ease,
    border-color 0.25s ease,
    box-shadow 0.25s ease;
}

.hero__card:hover {
  transform: translateY(-4px);

  border-color: #ddd6fe;

  box-shadow: 0 16px 35px rgba(15, 23, 42, 0.06);
}

.hero__icon {
  width: 58px;
  height: 58px;

  flex-shrink: 0;

  border-radius: 1.1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.3rem;
  color: white;
}

.hero__card__content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.hero__card__content h3 {
  font-size: 1rem;
  font-weight: 700;

  color: #111827;

  margin: 0;
}

.hero__card__content p {
  font-size: 0.93rem;
  line-height: 26px;

  color: #6b7280;

  margin: 0;
}

.purple {
  background: #8b5cf6;
}

.green {
  background: #10b981;
}

.yellow {
  background: #f59e0b;
}

@media (max-width: 900px) {
  .hero__card {
    max-width: 100%;
  }
}
