.search__logo {
  animation: fadeRight 0.8s ease;
}

.search__topbar {
  animation: fadeLeft 0.8s ease;
}

.search__hero {
  opacity: 0;

  animation: fadeUp 1s ease forwards;
  animation-delay: 0.2s;
}

.search__badge {
  opacity: 0;

  animation: scaleIn 0.8s ease forwards;
  animation-delay: 0.5s;
}

.search__hero h1 {
  opacity: 0;

  animation: fadeRight 1s ease forwards;
  animation-delay: 0.7s;
}

.search__hero p {
  opacity: 0;

  animation: fadeRight 1s ease forwards;
  animation-delay: 0.9s;
}


.search_results {
  opacity: 0;

  animation: fadeUp 1s ease forwards;
  animation-delay: 1.1s;
}

.empty__results {
  opacity: 0;

  animation: scaleIn 0.9s ease forwards;
  animation-delay: 1.3s;
}

.empty__icon {
  opacity: 0;

  animation: scaleIn 0.8s ease forwards;
  animation-delay: 1.5s;
}

.empty__results h3 {
  opacity: 0;

  animation: fadeUp 0.8s ease forwards;
  animation-delay: 1.7s;
}

.empty__results p {
  opacity: 0;

  animation: fadeUp 0.8s ease forwards;
  animation-delay: 1.9s;
}

.dialog__product {
    animation: scaleIn 0.6s ease forwards;
}